a
  &:hover
    text-decoration: none

.search-tag-box
  float: right
  margin-top: -57px
  font-size: 16px
  color: $primary-color

.search-text
  padding: 4px
  border: $primary-border-style
  border-radius: 2px
  text-align: center

.feed-list-section
  height: 550px
  overflow: auto
  border: $primary-border-style
  border-radius: 3px

.single-photo
  border-bottom: $primary-border-style

.photo-image-section
  +height-width(135px, 190px)
  border-right: $primary-border-style

.photo-image
  +height-width(100%, 100%)

.photo-information-section
  +height-width(133px, 590px)
  float: right
  margin-top: -134px

  &:hover
    background-color: #F7F7F7

.photo-title
  font-size: 27px
  padding-left: 19px
  padding-top: 15px
  padding-right: 37px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  color: $primary-color

  &:hover
    color: #337ab7

.photo-info-row
  display: flex

.photo-author
  margin: 0 0 10px
  padding-left: 19px
  padding-top: 15px
  font-weight: bold
  font-size: 14px

.photo-date
  padding-left: 18px
  margin-top: 15px
  font-size: 14px

.photo-link
  padding-left: 18px
  margin-top: 15px
  font-size: 14px

@media only screen and (max-width: 800px)

  .photo-information-section
    width: 450px

  .photo-info-row
    padding-left: 2px

  .photo-author-link
    margin-left: -241px
    margin-top: 10px

  .photo-date
    margin-top: 0px
    min-width: 240px
    order: -1

  .photo-link
    margin-top: 25px

@media only screen and (max-width: 660px)

  .photo-image-section
    +height-width(85px, 135px)

  .photo-information-section
    +height-width(85px, 355px)
    margin-top: -85px

  .photo-title
    padding-top: 0px
    font-size: 18px

  .photo-date
    font-size: 12px

  .photo-author
    font-size: 12px

  .photo-author-link
    margin-top: 7px

  .photo-link
    font-size: 12px
    margin-top: 23px

@media only screen and (max-width: 510px)

  .search-tag-box
    font-size: 13px
    margin-top: -45px

  .search-text
    padding: 1px

  .photo-image-section
    +height-width(55px, 105px)

  .photo-information-section
    +height-width(55px, 265px)
    margin-top: -55px

  .photo-title
    font-size: 14px
    margin-top: 5px

  .photo-date
    font-size: 10px
    margin-top: -8px

  .photo-author
    font-size: 10px

  .photo-author-link
    margin-top: -9px

  .photo-link
    font-size: 10px
    margin-top: 6px
    padding-left: 12px
