.feed-list-section
  height: 550px
  overflow: auto
  border: 2px solid black
  border-radius: 3px

.single-photo
  border-bottom: 2px solid black

.photo-image-section
  height: 150px
  width: 190px
  border-right: 2px solid black

.photo-image
  height: 100%
  width: 100%

.photo-information-section
  width: 690px
  height: 150px
  float: right
  margin-top: -150px

.photo-title
  font-size: 25px
  padding-left: 19px
  padding-top: 4px
  padding-right: 8px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
