.back-link
  float: right
  font-size: 16px
  color: #104E8B
  border: 2px solid #104E8B
  border-radius: 3px
  padding: 3px 7px 3px 6px

  &:hover
    background-color: #104E8B
    color: white

.back-arrow
  margin-right: -3px

.photo-detail-title
  font-size: 27px
  color: #104E8B

.photo-detail-author
  font-size: 17px
  font-weight: bold
  padding-right: 8px

.photo-detail-date
  font-size: 16px
  padding-left: 8px

.photo-detail-middle-section
  padding-top: 25px

.photo-detail-image-box
  +height-width(220px, 310px)

.photo-detail-image
  +height-width(100%, 100%)

.photo-detail-description
  float: right
  width: 545px
  margin-top: -224px
  margin-right: 12px
