.photo-detail-section
  border-top: $primary-border-style

.photo-detail
  padding-top: 10px

.back-link
  float: right
  font-size: 16px
  color: #104E8B
  border: 2px solid $primary-color
  border-radius: 3px
  padding: 3px 7px 3px 6px

  &:hover
    background-color: $primary-color
    color: white

.back-arrow
  margin-right: -3px

.photo-detail-title
  font-size: 27px
  color: $primary-color

  &:hover
    color: #337ab7

.photo-detail-author
  font-size: 17px
  font-weight: bold
  padding-right: 8px

.photo-detail-date
  font-size: 16px
  padding-left: 8px

.photo-detail-middle-section
  padding-top: 25px

.photo-detail-image-box
  +height-width(195px, 270px)

.photo-detail-image
  +height-width(100%, 100%)

.photo-detail-description
  float: right
  width: 493px
  margin-top: -198px
  margin-right: 12px

.photo-description
  font-size: 13px

.photo-detail-bottom-section
  +height-width(95px, 493px)
  float: right
  margin-top: -85px
  margin-right: 12px

.photo-detail-tags-title
  font-weight: bold
  color: $primary-color
  padding-right: 13px
  font-size: 13px
  margin-bottom: 3px

.photo-detail-tags-list
  padding-right: 8px
  display: inline-block

.photo-detail-tag
  font-size: 13px

@media only screen and (max-width: 800px)

  .photo-detail-description
    float: right
    width: 355px
    margin-top: -198px
    margin-right: 12px

  .photo-detail-bottom-section
    height: 95px
    width: 660px
    float: right
    margin-top: 16px
    margin-right: 0px
