<section class="feed-section">
  <div class="feed-list" ng-repeat="post in feed.list">
    <article class="single-post">
      <a href="#/feed/photo/{{feed.list.indexOf(post)}}">
        <div class="photo-box">
          <img ng-src="{{post.media.m}}" alt="Photo of post" class="post-photo">
        </div>
        <h4 class="post-title">{{post.title}}</h4>
        <a href="https://www.flickr.com/people/{{post.author_id}}" class="post-author">{{post.author}}</a>
        <span class="post-date">Published {{feed.formatDate(post.published)}}</span>
        <a href="{{post.link}}" class="post-link">View on Flickr</a>
      </a>
    </article>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>
